@model recommender.Models.User

@{
    ViewData["Title"] = "RecommendedBookIndex";
}

<h3>Recommended Books for You</h3>

<p><br>
    AI thinks you will enjoy the following books.
</p>

<table class="table">
    <thead>
        <tr>
            <th>Book(s)</th>
            <th>Average Rating</th>
            <th>Ratings Count</th>
            <th style="width:150px"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.recommended_books) {
        <tr>
            <td>
                @item.ToString()
                | <a asp-controller="Home" asp-action="Details" asp-route-id="@item.id">Details</a>
            </td>
            <td>
                @item.average_rating
            </td>
            <td>
                @item.ratings_count
            </td>
            <td>
                <form method="get" action="@Url.Action("Rate", "Home")">
                    <input type="number" name="rating_" id="rating_" style="width:50px" min="0" max="5">
                    <input type="hidden" name="book_id" id="book_id" value=@item.id>
                    <input type="hidden" name="user_id" id="user_id" value=@Model.user_id>
                    <button class="btn btn-outline-success btn-sm" type="submit">Rate</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table><hr>

<p>
    @Html.ActionLink(
            linkText: "Back to your main menu",
            actionName: "Welcome",
            controllerName: "Home",
            routeValues: new { user_id = Model.user_id },
            htmlAttributes: null
        )  |  
    @Html.ActionLink(
            linkText: "Back to the books you rated",
            actionName: "SetUser",
            controllerName: "Home",
            routeValues: new { user_id = Model.user_id },
            htmlAttributes: null
        )
</p>