@model List<recommender.Models.Book>

@{
    ViewData["Title"] = "RecommendedBookIndex";
}

<h1>Recommended Books for You</h1>
<p>
    <a asp-action="Index">Back</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Book(s)</th>
            <th>Average Rating</th>
            <th>Ratings Count</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.ToString()
            </td>
            <td>
                @item.average_rating
            </td>
            <td>
                @item.ratings_count
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Edit" asp-route-id="@item.id">Rate</a>
            </td>
        </tr>
}
    </tbody>
</table>