@model List<recommender.Models.Book>

@{
    ViewData["Title"] = "SearchMatch";
}

<h3>Books that match your search</h3>
<p>
    <a asp-action="SetUser">Back to your ratings</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Book(s)</th>
            <th>Average Rating</th>
            <th>Ratings Count</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.ToString()
                | <a asp-controller="Home" asp-action="Details" asp-route-id="@item.id">Details</a>
            </td>
            <td>
                @item.average_rating
            </td>
            <td>
                @item.ratings_count
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Rate</a>
            </td>
        </tr>
}
    </tbody>
</table>