@model List<recommender.Models.Book>

@{
    ViewData["Title"] = "RatedBookIndex";
}

<h3>Books You Rated</h3>
<p>
    <form method="get" action="@Url.Action("Search", "Home")" >
        <b>Search book(s) to add new rating(s):</b>
        <input type="text" name="search" id="search">
        <button type="submit">Search</button>
    </form>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Book(s)</th>
            <th>Your Rating</th>
        </tr>
    </thead>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.ToString()
                | <a asp-controller="Home" asp-action="Details" asp-route-id="@item.id">Details</a>
            </td>
            <td>
                @item.rating
                | <a asp-action="Edit" asp-route-id="@item.id">Change</a>
            </td>
        </tr>
}
    </tbody>
</table>

<p>
    <b>Not you? </b> <a asp-action="Index">Go back to welcome page</a> | 
    <b>Ready for more reading? </b> <a asp-action="RecommendBook">See recommended books</a>
</p>