@model recommender.Models.User

@{
    ViewData["Title"] = "RatedBookIndex";
}

<h3>Books You Rated</h3>

<p>
    <form method="get" action="@Url.Action("Search", "Home")" >
        <b>Search book(s) to add new rating(s):</b>
        <input type="text" name="search" id="search">
        <input type="hidden" name="user_id" id="user_id" value=@Model.user_id>
        <button class="btn btn-outline-primary btn-sm" type="submit">Search</button>
    </form>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Book(s)</th>
            <th style="width:120px">Your Rating</th>
            <th style="width:150px">Change Rating</th>
        </tr>
    </thead>
@foreach (var item in Model.rated_books) {
        <tr>
            <td>
                @item.ToString()
                | <a asp-controller="Home" asp-action="Details" asp-route-id="@item.id">Details</a>
            </td>
            <td style="width:120px; text-align:center">
                @item.rating
            </td>
            <td style="width:150px">
                <form method="get" action="@Url.Action("Rate", "Home")">
                    <input type="number" name="rating_" id="rating_" style="width:50px" min="0" max="5">
                    <input type="hidden" name="book_id" id="book_id" value=@item.id>
                    <input type="hidden" name="user_id" id="user_id" value=@Model.user_id>
                    <button class="btn btn-outline-success btn-sm" type="submit">Submit</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table><hr>

@{
    if (ViewBag.new_user == true)
    {
        <div class = "alert alert-warning">
            <div class="lead">Thanks for trying out the application. &#128516
            Please rate some books so that AI can suggest you other books you may like.</div>
        </div>
    }
}

<p>
    @Html.ActionLink(
            linkText: "Back to your main menu",
            actionName: "Welcome",
            controllerName: "Home",
            routeValues: new { user_id = Model.user_id },
            htmlAttributes: null
        )  |  
    <b>Ready for more reading?</b>
    @Html.ActionLink(
            linkText: "Ask AI to recommend you some books",
            actionName: "RecommendBook",
            controllerName: "Home",
            routeValues: new { user_id = Model.user_id },
            htmlAttributes: null
        )
</p>